@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-width: 1280px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .container{
            max-width: 1110px;
            min-height: 511px;
            display: flex;
            justify-content: space-between;
            .card{
                max-width: 302px;
                min-height: 123px;
                border-bottom: 1px solid #5E607A;
                margin-bottom: 31px;
                h3{
                    font-family: "Inter", sans-serif;
                    font-weight: 800;
                    font-display: 20px;
                    line-height: 24px;
                    color: #FFFDFA;
                    margin-bottom: 8px;
                }
                p{
                    font-family: "Inter", sans-serif;
                    font-weight: 400;
                    font-display: 15px;
                    line-height: 26px;
                    color: #C5C6CE;
                    opacity: 80%;
                }
            }
            .bright-future{
                display: flex;
                flex-direction: column;
                .image{
                    img{
                        max-width: 730px;
                    }
                    margin-bottom: 28px;
                }
            }
            .bright-future-text{
                display: flex;
                gap: 30px;
                h1{
                    max-width: 350px;
                    font-family: "Inter", sans-serif;
                    font-weight: 800;
                    font-size: 56px;
                }
                .bright-future-text-right{
                    max-width: 350px;
                    p{
                        font-family: "Inter", sans-serif;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 26px;
                        color: #5E607A;
                        opacity: 80%;
                        margin-bottom: 29px;
                    }
                    button{
                        width: 185px;
                        height: 48px;
                        border: none;
                        background: #F15D51;
                        font-family: "Inter", sans-serif;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 26px;
                        letter-spacing: 4.38px;
                        color: #FFFDFA;
                        cursor: pointer;
                        &:hover{
                            transition: 0.5s;
                            background: rgba(0, 0, 26, 1);
                            color: rgba(255, 253, 250, 1);
                        }
                    }
                }
            }
            .new-info{
                margin-left: 30px;
                max-width: 350px;
                background: #00001A;
                padding: 31px 24px;
                h2{
                    color: #E9AA52;
                    font-family: "Inter", sans-serif;
                    font-weight: 700;
                    font-display: 40px;
                    line-height: 40px;
                    margin-bottom: 34px;
                }
    
            }
        }
    }
}
